<header>Admin Page</header>
<div id='maincontainer'>
  <div class='column'>
    <div class='card' >
      <h5 class='cardtitle'>Sports</h5>
      <select id="sports" name='sport' class='dropdown' >
        <option value="" disabled selected hidden>Select a sport</option>
        <% @sports.each do |pair| %>
          <option value="<%= pair[0] %>"><%= pair[0] %></option>
        <% end %>
      </select>
      <div class='buttonpair'>
        <a href='/sport/new'><button class='button'>Add</button></a>
        <button class='button' id='deletesportbtn' onclick="deleteSport()">Delete</button>
      </div>
    </div>
    <div class='card'>
      <h5 class='cardtitle'>Leagues</h5>
        <select name='league' class='dropdown' id='leagues'>
        <option value="" disabled selected hidden>Select a league</option>

        </select>
      <div class='buttonpair'>
        <a href='/league/new'><button class='button'>Add</button></a>
        <button class='button' id='deleteleaguebtn' onclick="deleteLeague()">Delete</button>
      </div>

    </div>

    <div class='card'>
      <h5 class='cardtitle'>Teams</h5>
      <select name='team' id="teams" class='dropdown'>
        <option value="" disabled selected hidden>Select a team</option>

      </select>
      <div class='buttonpair'>
        <a href='/team/new'><button class='button'>Add</button></a>
        <button class='button'>Delete</button>
      </div>
    </div>

    <div class='card'>
      <h5 class='cardtitle'>Games</h5>
      <p id='games'></p>
      <div class='buttonpair'>
        <a href='/game/new'><button class='button'>Add</button></a>
        <button class='button'>Delete</button>
      </div>
    </div>
  </div>
  
  <div class='column'>
    <div class='card'>
      <h5 class='cardtitle'>Players</h5>
      <select name='player' class='dropdown'>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <div class='buttonpair'>
        <button class='button'>Add</button>
        <button class='button'>Delete</button>
        <button class='button'>Assign to team</button>
      </div>
    </div>

    <div class='card'>
      <h5 class='cardtitle'>Coaches</h5>
      <select name='coach' class='dropdown'>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <div class='buttonpair'>
        <button class='button'>Add</button>
        <button class='button'>Delete</button>
        <button class='button'>Assign to team</button>
      </div>
    </div>

    <div class='card'>
      <div class='buttonpair'>
        <button class='button'>Show Schedule</button>
        <button class='button'>Show Roster</button>
      </div>
    </div>
  </div>
</div>
<script src='/javascript/dropdowns.js'></script>