<div class='admincontainer'>
  <header><h1>League Management Tool - <%= @username %>
  <% if session[:message] %>
   <h1 class='message'><%= session.delete(:message) %></h1>
  <% end %>
  </h1>
  </header>  

  <div class='column'>
    <div class='card' >
      <h5 class='cardtitle'>Sports</h5>
      <select id="sports" name='sport' class='dropdown' >
        <option value="" disabled selected hidden>Select a sport</option>
        <% @sports.each do |pair| %>
          <option value="<%= pair[0] %>"><%= pair[0] %></option>
        <% end %>
      </select>
      <div class='buttonpair'>
        <button class='button' onclick="location.href='/sport/new'">Add</button>
        <button class='button' id='deletesportbtn' onclick="deleteSport()">Delete</button>
      </div>
    </div>
    <div class='card'>
      <h5 class='cardtitle'>Leagues</h5>
        <select name='league' class='dropdown' id='leagues'>
          <option value="" disabled selected hidden>Select a league</option>
        </select>
      <div class='buttonpair'>
        <button class='button' onclick="location.href='/league/new'">Add</button>
        <button class='button' id='deleteleaguebtn' onclick="deleteLeague()">Delete</button>
      </div>
      <div class='buttonpair' style='float:right'>
        <button class='button' id='schedbutton' onclick='getSchedule()'>Printable Schedule</button>
      </div>

    </div>

    <div class='card'>
      <h5 class='cardtitle'>Teams</h5>
      <select name='team' id="teams" class='dropdown'>
        <option value="" disabled selected hidden>Select a team</option>
      </select>
      <div class='buttonpair'>
        <button class='button' onclick="location.href='/team/new'">Add</button>
        <button class='button' id='deleteteambtn' onclick="deleteTeam()">Delete</button>
      </div>
      <div class='buttonpair' style='float: right'>
        <button class='button' onclick="getRoster()">Show Roster</button>
      </div>
    </div>

    <div class='card'>
      <h5 class='cardtitle'>Games</h5>
      <select id='games' name='game'>
        <option value="" disabled selected hidden></option>
      </select>
      <div class='buttonpair'>
        <button class='button' onclick="location.href='/game/new'">Add</button>
        <button class='button' id='deletegamebtn' onclick='deleteGame()'>Delete</button>
      </div>
    </div>
  </div>
  
  <div class='column'>
    <div class='card'>
      <h5 class='cardtitle'>Players</h5>
      <select id="players" name='player' class='dropdown'>
        <option value="" disabled selected hidden></option>
      </select>
      <div class='buttonpair'>
        <button class='button' onclick="location.href='/player/new'">Add</button>
        <button class='button' onclick='deletePlayer()'>Delete</button>
      </div>
      <div class='buttonpair'>
        <button class='button' onclick='assignPlayerToTeam()'>Assign to team</button>
        <button class='button' onclick='removePlayerFromTeam()'>Remove from team</button>
      </div>
    </div>

    <div class='card'>
      <h5 class='cardtitle'>Coaches</h5>
      <select name='coach' id='coaches' class='dropdown'>
        <option value="" disabled selected hidden></option>
      </select>
      <div class='buttonpair'>
        <button class='button' onclick="location.href='/coach/new'">Add</button>
        <button class='button' onclick='deleteCoach()'>Delete</button>
      </div>
      <div class='buttonpair'>
        <button class='button' onclick='assignCoachToTeam()'>Assign to team</button>
        <button class='button' onclick='removeCoachFromTeam()'>Remove from team</button>
      </div>
    </div>

    <div class='card'>
      <div class='buttonpair' style='float: right'>
        <button class='button'>Change Password</button>
        <button class='button' onclick="location.href='/logout'">Log Out</button>
      </div>
    </div>
  </div>
</div>
<script src='/javascript/dropdowns.js'></script>