  <% if session[:message] %>
    <%= session.delete(:message) %>
  <% end %>
<h1>LEAGUE MANAGEMENT TOOL</h1>

<form action='/login' method='post'>
  <ul>
    <li>
      <label for='username'>Username:</label>
      <input class='button' type='text' name='username' placeholder='Username' required>
    </li>
    <li>
      <label for='password'>Password:</label>
      <input class='button' type='password' name='password' placeholder='Password' required>
    </li>
    <br>
      <button type='submit' class='button'>Submit</button>
      <button type='reset' onclick="location.href='/admin/new'" class='button'>
        Create new user</button>
</form>