<div class='maincontainer'>
  <div class='column'>
    <h1>LEAGUE MANAGEMENT TOOL</h1>
  </div>

  <div class='logincolumn'>
    <form id = 'login' action='/login' method='post'>
      <ul>
        <% if session[:message] %>
          <li class='message'><%= session.delete(:message) %></li>
        <% end %>
        <li>
          <i class="fas fa-user"></i>
          <input class='' type='text' name='username' placeholder='Username' required>
        </li>
        <li>
          <i class="fas fa-lock"></i>
          <input class='' type='password' name='password' placeholder='Password' required>
        </li>
        <li>
          <button type='submit' class='button'>Log In</button>
        </li>
        <li>
          <a href='/admin/new'>Create a new user <i class="fas fa-external-link-alt"></i></a>
        </li>
      </ul>
    </form>
  </div>
</div>