
<div class='maincontainer'>
  <div class='column'>
    <h3>Create a new coach:</h3>
        <% if session[:message] %>
          <h5 class='message'><%= session.delete(:message) %></h5>
        <% end %>
    <img src='/images/who.jpg' style='height: 400px; width: 300px;'>
  </div>
  <div class='column'>
    <form action='/coach/new' method='post'>
      <ul>
        <li>
          <label for='name'>Name:</label>
          <input type='text' name='name' placeholder='Coach Name' required>
        </li>
        <li>
          <label for='email'>Email:</label>
          <input type='email' name='email' placeholder='Email'>
        </li>
        <li>
          <label for='phone'>Phone:</label>
          <input type='tel' name='phone' id='phone' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder='123-456-7890'>
        </li>
        <li>
          <button class='button' type='submit'>Create</button>
          <button class='button' type='reset' onclick="location.href='/admin'">Back</button>
        </li>
      </ul>
    </form>
  </div>
</div>
