<div class='maincontainer'>
<div class='column'>
  <h3>Create a new game:</h3>
    <% if session[:message] %>
      <h5 class='message'><%= session.delete(:message) %></h5>
    <% end %>
</div>
<div class='column'>
<form action='/game/new' method='post' autocomplete='off'>
  <ul>
    <li>
      <select id="sports" name='sport' class='dropdown' required>
        <option value="" disabled selected hidden>Select a sport</option>
        <% @sports.each do |pair| %>
          <option value="<%= pair[0] %>"><%= pair[0] %></option>
        <% end %>
      </select>
    </li>
    <li>
      <select id="leagues" name='league' class='dropdown' required>
        <option value="" disabled selected hidden>Select a league</option>
      </select>
    </li>
    <li>
      <label for='hometeam'>Home team:</label>
      <select name='hometeam' id="teams" class='dropdown' required>
        <option value="" disabled selected hidden>Select a team</option>
      </select>
    </li>
    <li>
      <label for='awayteam'>Away team:</label>
      <select name='awayteam' id="teams2" class='dropdown' required>
        <option value="" disabled selected hidden>Select a team</option>
      </select>
    </li>
    <li>
      <label for='date'>Date:</label>
      <input type='date' name='date' required>
    </li>
    <li>
      <label for='venue'>Location:</label>
      <input type='text' name='venue' placeholder='Location' required>
    </li>
    <li>
      <button class='button' type='submit'>Create</button>
      <button class='button' type='reset' onclick="location.href='/admin'">Back</button>
    </li>
  </ul>
</form>
</div>
</div>