<h3>Create a new team:</h3>
<h5>
  <% if session[:message] %>
    <%= session.delete(:message) %>
  <% end %>
</h5>

<form action='/team/new' method='post'>
  <ul>
    <li>
      <select id="sports" name='sport' class='dropdown' required>
        <option value="" disabled selected hidden>Select a sport</option>
        <% @sports.each do |pair| %>
          <option value="<%= pair[0] %>"><%= pair[0] %></option>
        <% end %>
      </select>
    </li>
    <li>
      <select id="leagues" name='league' class='dropdown' required>
        <option value="" disabled selected hidden>Select a league</option>
      </select>
    </li>
    <li>
      <label for='team_name'>Team:</label>
      <input type='text' name='team_name' placeholder='Team Name' required>
    </li>
      <button class='button' type='submit'>Create</button>
      <button class='button' type='reset' onclick="location.href='/admin'">Back</button>
  </ul>
</form>