* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  color: black;
}
a:link {
  text-decoration: none;
}
header {
  position: absolute;
  top: 10;
  align-self: center;
  /* border: 1px solid blue; */
}

h1 {
  font-size: 1.75em;
  font-weight: bolder;
  text-decoration: none;
  padding-left: 20px;
}
.title, .title em {
  color: white;
  
}

h3 {
  font-size: 1.5rem;
  color: white;
}

h5 {
  text-align: center;
}

input {
  height: 2.5em;
  border: none;
  border-radius: 8px;
  border-bottom: gray solid 1px;
  background-color: whitesmoke;
  text-align: center;
}

label {
  color: white;
}

.message {
  text-align: center;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 1.2em;
  font-style: italic;
  color: rgb(29, 55, 252);
}

.maincontainer,
.admincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    120deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(60, 110, 221, 1) 25%,
    rgba(48, 43, 255, 0) 100%
  );
  background-image: url("../images/balls.webp");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.admincontainer {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 80px;
}

.logincolumn, .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  padding: 5px 10px;
  margin: 5px;
  width: 30%;
  min-width: 500px;
}

.column {
  border-radius: 25px;
  background: rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 5px  rgba(55, 53, 53, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card {
  display: block;
  /* border: 1px solid blue; */
  padding: 5px;
  margin: 5px;
  width: 90%;
}

.cardtitle {
  color: white;
  font-size: 1.2em;
  font-weight: 800;
}

.buttonpair {
  display: inline-block;
  /* border: 1px solid rgb(255, 0, 212); */
  margin: 10px;
}

#login {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#newadminlink:hover {
  color: rgb(116, 116, 241);
}

form ul li p {
  cursor: pointer;
}

.dropdown,
.button {
  display: inline;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin: 3px;
  height: 2em;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding-left: 2px;
  padding-right: 2px;
}

.button:hover,
.button:focus {
  transform: scale(0.9);
  background-color: rgb(133, 133, 245);
}

.logo {
  position: absolute;
  top: 5%;
  align-self: center;
}

#ballsimg {
  width: 300px;
  height: 200px;
}

#sports,
#leagues,
#teams,
#teams2,
#coaches,
#games,
#players {
  display: inline;
  width: 90%;
  /* border: 1px solid green; */
  border-radius: 5px;
  margin-bottom: 10px;
}
#games {
  max-height: 180px;
}

#players,
#coaches {
  height: auto;
  max-height: 210px;
}

select,
select option {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
  background-color: white;
}
select:not(:checked) {
  background-color: rgb(202, 200, 200);
}

table,
td,
tr {
  border-collapse: collapse;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid black;
  font-style: italic;
  margin-bottom: 10px;
}

th {
  text-align: center;
}

#cancelModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  margin: 0 auto;
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 15%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #e3e6ee;
  padding-top: 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

#background {
  opacity: 1;
}

.danger:hover {
  background-color: rgb(238, 109, 109);
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  text-align: right;
  width: 95%;
  color: white;
}

#newpasswordmodal {
  display: none;
}

#cpbtn:focus, #cpbtn:hover {
  background-color: rgb(238,109,109);
  font-weight: bold;
}