html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#maincontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid red;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  border: 1px solid green;
  padding: 5px 10px;
  margin: 5px;
  width: 30%;
  min-width: 500px;
}

.card {
  display: block;
  border: 1px solid blue;
  padding: 5px;
  margin: 5px;
  width: 90%;
}

.buttonpair {
  display: inline;
  border: 1px solid yellow;
}

.dropdown .button {
  display: inline;
}








#cancelModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  margin: 0 auto;
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 15%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #e3e6ee;
  padding-top: 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}
#background {
  opacity: 1;
}
.danger {
  background-color: rgb(233, 62, 62);
  font-weight: bold;
}
